@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



:root {
    --Dark1 : #3A3A3A;
    --Dark2: #AAAAAA;
    --primary-color : #E02C6D;

}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* shared style start here */

.display-flex{
    display: flex;
}

.btn-primary
{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 8px;
    padding: 10px 24px;
    border-radius: 41px;
    color: white;
    border: 1px solid transparent;
    box-shadow: 0 6px 12px rgba(224, 44, 110, 0),
              0 12px 24px rgba(224, 44, 110, 0);
    transition: all 0.3s ease;
}

.btn-primary:hover 
{
    background: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: 0 6px 12px rgba(224, 44, 109, 0.4),
              0 12px 24px rgba(224, 44, 109, 0.3);
              cursor: pointer;
}
/* shared style end here */

body {

    font-family: "Poppins", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

/* the header section style start */
header
{
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 30px;
}

/* nav style here  */
nav {
    justify-content: space-between;
    align-items: center;
}

.logo h2 
{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--Dark1);
}

.navigation {
    align-items: center;
    column-gap: 35px;
    justify-content: space-between;
}
.navigation ul {
    column-gap: 35px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.navigation li {
    padding: 10px 15px;
    border-bottom: 2px solid transparent;
    transition: border 0.3s ease;
}
.navigation li:hover  {
    border-bottom: 2px solid var(--primary-color);
}
.navigation a {
    text-decoration: none;
    color: var(--Dark1);
    text-transform: capitalize;
    transition: color 0.3 ease;
}
.navigation li:hover a {
    color: var(--primary-color);
}

.navigation-cart
{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    
}
.navigation-cart img:nth-child(1)
{
    transition: all 0.3s ease;
    cursor:pointer;
}
.navigation-cart img:nth-child(2)
{
    transition: all 0.3s ease;
    cursor:pointer;
}
.navigation-cart img:nth-child(1):hover
{
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(27%) sepia(90%) saturate(3000%) hue-rotate(320deg);
}
.navigation-cart img:nth-child(2):hover
{
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(27%) sepia(90%) saturate(3000%) hue-rotate(320deg);
}

.banner-container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
    column-gap: 130px;
}
.banner-text h1
{
    color: var(--Dark1);
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.banner-container p 
{
    color: var(--Dark2);
    font-weight: 600;
    margin-bottom: 16px;
}

.bannerimage
{
    display: flex;
    background: url("../images/Circle\ design.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 475px;
    align-items: center;
}

.bannerimage img 
{
    width: 410px;
}

/* the header section style end */

/* sponso section */

.sponsor-container {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    border-top: 1px solid #564c4c20;
    border-bottom: 1px solid #564c4c20;
    margin-bottom: 100px;
    padding: 10px 20px;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    place-items: center;
}

/* populer section */

.popular-container {
    position: relative;
    max-width: 1047px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.popular-container h1
{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--Dark1);
    margin-bottom: 30px;
}

.Card-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}
.card-item
{
    width: 330px;
    height: 475px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
              0 6px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 17px 15px;
    display: flex;
    flex-direction: column;

}
.card-item > img:nth-child(1) 
{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 16px;
}
.card-item h1 {

    font-size: 2rem;
    text-align: left;
    font-weight: 500;
    color: var(--Dark1);

}
.card-item h3 
{
    font-size: 1.2rem;
    text-align: left;
    font-weight: 400;
    color: var(--Dark2);
    margin-top: -30px;
}

.rating-container
{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.rating-container  img
{
  filter: brightness(0) saturate(100%) invert(75%) sepia(100%) saturate(600%) hue-rotate(0deg);
}

.card-item > p
{
    width: 200px;
    font-size: 1rem;
    text-align: left;
    font-weight: 400;
    color: var(--Dark2);
}

.popular-container h6 
{
    font-size: 1rem;
    color: var(--primary-color);
    text-align: right;
    margin: 0 auto;
    position: absolute;
    bottom: -50px;
    right: -50px;
}


/* advertisement section */

.advertisement-container
{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 150px;
}
.advertisement-container .advertisement-text
{
}
.advertisement-text h1
{
    font-size: 2rem;
    color: var(--Dark1);
    font-weight: 700;
    margin-bottom: 25px;
}

.advertisement-text p
{
    font-size: 1rem;
    color: var(--Dark2);
    margin-bottom: 25px;
    text-align: justify;

}
.advertisement-container img
{
}



/* for mobile view */

@media screen and (max-width: 576px) {

    body
    {
        width: 90%;
        margin: 0 auto;
    }
    nav 
    {
        flex-direction: column;
        background-color: white;
    }

    .logo
    {
        width: 100%;
        position: fixed;
        top: 0px;
        left: 10px;
        z-index: 999;
        background-color: white;

    }
    .logo h2
    {
        padding-top: 20px;
    }
    .navigation-cart
    {
        position: fixed;
        top: 25px;
        right: 10px;
        z-index: 999;
    }

    .navigation ul 
    {
        column-gap: 10px;
        margin-top: 30px;
        justify-content: space-between;
    }
    .navigation ul li a 
    {
        font-size: 0.8rem;
    }

    .banner-container
    {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .banner-text
    {
        justify-content: center;
        place-items: center;
        text-align: center;
    }
    .popular-container
    {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .Card-container
    {
        grid-template-columns: repeat(1,1fr);
    }
    .advertisement-container
    {
        flex-direction: column-reverse;
        justify-content: center;
        column-gap: 1px;
        row-gap: 50px;
    }
    .advertisement-text
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}